@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Readex Pro';
}


.container--main{
    width: 1200px;
    margin: 0 auto;
}


/* NAVBAR STYLING */


nav{
    width: 100%;
    padding: 2em;
}